<div class="card-header bg-dark text-white" align="center">
    <h1 class="card-title"><b>Génération du attestation du travail</b></h1>
</div>
<div style="width:100%; margin:0 auto;background-color: darkslategrey;" align="center">
    <br />
    <br />
    <div class="main-content" style="width:80%;">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" align="center">
                    <h3 class="card-title">Choix Employe</h3>
                </div>
                <div class="card-body">
                    <div class="container">

                        <div class="form-group" align="center">
                            <select [(ngModel)]="employe.idEmploye" [ngModelOptions]="{standalone: true}"
                                (ngModelChange)="getEmpById()">
                                <option value="" disabled>Choix id du attestation</option>
                                <option *ngFor="let emp of lstEmp" [ngValue]="emp.idEmploye">{{emp.idEmploye}}</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="main-content" style="width:80%;">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header" align="center">
                    <h3 class="card-title">Génération attestation de travail</h3>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="form-group">
                            <table width=100%>
                                <tr>
                                    <td width=35% align="right">Nom :</td>
                                    <td><b>{{employe.nomEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Prenom : </td>
                                    <td><b>{{employe.prenomEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Adresse : </td>
                                    <td><b>{{employe.adresseEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Type Contrat : </td>
                                    <td><b>{{employe.typeContratEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Statut : </td>
                                    <td><b>{{employe.statutEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Date début contrat : </td>
                                    <td><b>{{employe.dateEntreeEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Salaire : </td>
                                    <td><b>{{employe.salaireEmploye}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Date génération contrat : </td>
                                    <td><b>{{dateJour|date:'dd MMMM yyyy'}}</b></td>
                                </tr>
                                <tr>
                                    <td width=35% align="right">Signature : </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
</div>