<table class="table" width=100%>
    <tr align="center">
        <td><a class="nav-link" href="/home" style="color: white"><button type="button"
                    class="btn btn-dark">Home</button></a></td>
        <td><a class="nav-link" href="/employe" style="color: white"><button type="button"
                    class="btn btn-dark">Employé</button></a></td>
        <td><a class="nav-link" href="/documentrh" style="color: white"><button type="button"
                    class="btn btn-dark">Document</button></a></td>
        <td><a class="nav-link" href="/fourniture" style="color: white"><button type="button"
                    class="btn btn-dark">Fourniture</button></a></td>
        <td><a class="nav-link" href="/formulaire" style="color: white"><button type="button"
                    class="btn btn-dark">Formulaire</button></a></td>
        <td><a class="nav-link" href="/validation" style="color: white"><button type="button"
                    class="btn btn-dark">Validation formulaire</button></a></td>
        <td><a class="nav-link" href="/contrat" style="color: white"><button type="button"
                    class="btn btn-dark">Contrat</button></a></td>
        <td><a class="nav-link" href="/attestation" style="color: white"><button type="button"
                    class="btn btn-dark">Attestation</button></a></td>
    </tr>
</table>
<router-outlet></router-outlet>